<div id="simplified_registration_congrats"><h1>{{ "Congratulations! You did it!"|trans }}</h1></div>
<div id="simplified_registration_explain">{{ "Now write down these strings and keep them in safe place. Do not show them to anybody. This site can ask for them any time to ensure that it's you."|trans }}</div>
<div id="simplified_registration_username"><span class="simplified_registration_label">{{ "Your new <strong>User Name</strong>:"|trans }}</span> <span class="simplified_registration_value">{{ username }}</span></div>
<div id="simplified_registration_password"><span class="simplified_registration_label">{{ "Your new <strong>Password</strong>:"|trans }}</span> <span class="simplified_registration_value">{{ password }}</span></div>
